<style type="text/css">
	.step{
		border: 1px solid #ddd;
		background-color: #ddd;
		margin: 15px 0 15px 0;
		box-shadow: 1px 1px 1px #ddd;
	}

</style>

<div class="container">
	<div class="panel-caption">&nbsp;{{dish.name || '回锅肉'}}
	
		<div class="dropdown">
			<div class="dropdown-btn"><span class="touchable">...</span></div>
			<div class="dropdown-items open">
				<a>Heater</a>
				<a>Box</a>
				<a>Stirrer</a>
				<a>Repeater</a>
				<a>Timer</a>
			</div>
		</div>
	</div>
	
	
	<div class="panel">
		<span class="panel-title">Recipe Board</span>
		<div class="panel-content">
			
			<div class="step">Start</div>
		
			<div style="border:1px dashed">				
				<br/><br/><br/><br/><br/>
				
				
				
			</div>
			
			<div class="step">End</div>
				
		</div>
		
		
		
		
		<div class="panel-tools" style="right:10px;">
			
			<button class="icon">
				<i class="fa fa-floppy-o"></i>
			</button>
			
			<button class="icon">
				<i class="fa fa-undo"></i>
			</button>
			
			<button class="icon">
				<i class="fa fa-university"></i>
			</button>
			
			
		</div>
	</div>
	
	
</div>
