<style type="text/css">
	.table-cell i{
		font-size:1em;
		zoom:2;
		color:#63C694;
	}

</style>
<div class="dialog-body dialog-confirm">

	<h5>Set Repeater</h5>
	<div class="table" style="margin-bottom: 15px;padding: 0 10px;width:95%;">
		<div class="table-row">
			<div class="table-cell-title">Delay</div>
			<div class="table-cell" style="width:65%;font-size: .8em;">
				<input type="number" value="0" style="width:16%;"/>hr
				<input type="number" value="0" style="width:16%;"/>min
				<input type="number" value="30" style="width:16%;"/>sec
			</div>	

			<div class="table-cell" style="width:5%">&nbsp;</div>
		</div>
		
		<div class="table-row">
			<div class="table-cell-title">Times</div>
			<div class="table-cell" style="width:60%"><input type="number" value="Add Beef"/></div>	

			<div class="table-cell" style="width:10%">&nbsp;</div>
		</div>	
		
		<div class="table-row">
			<div class="table-cell-title">Label</div>
			<div class="table-cell" style="width:50%"><input type="text" value="cook beef:3 times"/></div>
			<div class="table-cell" style="width:20%">&nbsp;</div>
		</div>
	</div>
	<div class="dialog_footer justified">
		<div class="btn" promo="button0">OK</div>
		<div class="btn" promo="button1">Cancel</div>
	</div>
</div>