body{
	width:100%;
	text-align:center;
	margin:0;
	overflow-x:hidden;
	color:#333;
	font-family: Microsoft YaHei,dotum,gulim,Helvetica,Apple-Gothic,sans-serif;
}

@charset "utf-8";

.touched{
	background-color:#ddd;
}
.panel{
	position:relative;
	width:95%;
	min-height:50px;
	border:1px solid #eee;
	margin: 25px auto;
}
.panel-caption{
	position:relative;
	width:95%;
	margin: 15px auto 0 auto;
	text-align:left;
	font-size:1.5em;
}

.panel-caption .dropdown{
	position: absolute;
	right: -5px;
	top: -5px;
	padding: 0 8px;
	z-index: 2;

}
button {
  background-color: #66f666;
  border: 0;
  border-radius: 5px;
  line-height: 2.5!important;
  color: #fff;
}

.panel-caption .dropdown .dropdown-btn {
	text-align: right;
    padding-right: 10px;
}

.panel-caption .dropdown .dropdown-items:before {
  content: "";
  position: absolute;
  top: -9px;
  right: 16px;
  height: 0;
  border-style: solid;
  border-color: #f7f7f7 transparent;
  border-width: 0 9px 9px;
}
.panel-caption .dropdown .dropdown-items{
	background-color:#f7f7f7;
	border-radius: 8px;
	margin-top: 15px;
	
	transition: all .2s linear;
	opacity: 0;
	-webkit-transform: translate(27px,-11px) scale(0);
	-moz-transform: translate(27px,-11px) scale(0);
	-ms-transform: translate(27px,-11px) scale(0);
	transform: translate(27px,-11px) scale(0);
}

.panel-caption .dropdown .open{
	opacity: 1;
	-webkit-transform: translate(0,0) scale(1);
	-moz-transform: translate(0,0) scale(1);
	-ms-transform: translate(0,0) scale(1);
	transform: translate(0,0) scale(1);
}

.panel-caption .dropdown .dropdown-items a{
	display: block;
	font-size: .6em;
	line-height: 2;
	border-bottom: 1px solid #E6E6E6;
	padding: 5px 10px;
}
.panel-caption .dropdown .dropdown-items a:last-child{
	border:0;
}


.panel-title{
	position: absolute;
	top: -12px;
	left: 10px;
	background-color: #fff;
	padding: 0 5px;
	font-weight:bold;
	font-size:13px;
}
.panel-tools{
	position:absolute;
	left:10px;
	bottom:8px;
}
.panel-content{
	min-height:100px;
	padding: 20px 8px 50px 8px;

}
.panel-tools button{
	line-height:1.5;
}
.panel-tools button  a{
	text-decoration:blink;
	color:#fff;
}
.panel-tools>.icon{
	line-height:1.5;
	width:25%;
}
.table{
	display:table;
	width: 100%;
}
.table-cell-title{
	display:table-cell;
	text-align:right;
	vertical-align: top;
	width:25%;
}
.table-cell{
	display:table-cell;
	text-align:left;
	padding-left:5px;
	width:70%;
}
.table-cell input,.table-cell textarea{
	width:98.5%;
}
.table-cell textarea{
	min-height:55px;
	width:98.5%;
}
.table-row{
	display:table-row;
	line-height: 2.5;
}
.app {
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.4);
  text-align:center;
  max-width:640px;
  margin:5px auto;
}

.scrollable{
	width:100%;
	max-width:600px;
	margin:0 auto;
	
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.scrollable-content{
	width:100%;
	max-width:600px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.viewport{
	width:400%;
	transition: all .5s linear;
	-webkit-transition: all .5s ease-in-out;
}
.item{
	width:25%;
	float:left;
}
.item1{
	background-image: url('../images/1.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F0F0F0;
}

.item2{
	background-image: url('../images/2.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F0F0F0;
}
.item3{
	background-image: url('../images/3.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F0F0F0;
}
.item4{
	background-image: url('../images/4.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #F0F0F0;
}
.next{
	position:absolute;
	right:3px;
	top:45%;
}
.pre{
	position:absolute;
	left:3px;
	top:45%;
}
.next img,.pre img{
	width: 45%;
}
.nav{
	position:fixed;
	top:0;
	height:50px;
	z-index:99999;
	text-align:center;
	width:100%;
	max-width:600px;
	line-height:50px;
	color:#fff;
	font-size:1.3em;
	background-color:#E35D5A;
}
.btn-left{
	position:fixed;
	top:0;
	left:0;
	width:10%;
	background-image:url('../images/icon_left.png');
	z-index: 999999999;
	height: 50px;
	background-repeat:no-repeat;
	background-size: 35%;
	background-position:center center;
}